@using OrangeLogin.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<body>
    <section id="notify-box" class="success hidd">
        <div class="gridContainer clearfix">

        </div>
        </section>
</body>