<div class="border-bottom border-1 border-dark">

    <footer class="footer navbar" data-bs-theme="dark">
        <h2 class="visually-hidden">Sitemap & information</h2>
        <div class="container-xxl footer-social">
            <h3 class="footer-heading me-md-3">Follow us</h3>
            <ul class="navbar-nav gap-2 flex-row align-self-start">
                <li><a href="#" class="btn btn-icon btn-social btn-twitter"><span class="visually-hidden">Twitter</span></a></li>
                <li><a href="#" class="btn btn-icon btn-social btn-facebook"><span class="visually-hidden">Facebook</span></a></li>
                <li><a href="#" class="btn btn-icon btn-social btn-instagram"><span class="visually-hidden">Instagram</span></a></li>
                <li><a href="#" class="btn btn-icon btn-social btn-whatsapp"><span class="visually-hidden">WhatsApp</span></a></li>
                <li><a href="#" class="btn btn-icon btn-social btn-linkedin"><span class="visually-hidden">LinkedIn</span></a></li>
                <li><a href="#" class="btn btn-icon btn-social btn-youtube"><span class="visually-hidden">YouTube</span></a></li>
            </ul>
        </div>
    </footer>

    <footer class="footer navbar" data-bs-theme="dark">
        <h2 class="visually-hidden">Sitemap & information</h2>
        <div class="container-xxl footer-nav">
            <nav class="accordion" id="accordion2" aria-label="Sitemap footer 2">
                <div class="row">
                    <div class="footer-column col-md-3">
                        <h3 class="accordion-header footer-heading" id="headingOne2">
                            <button class="accordion-button collapsed container-xxl px-1 d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                Category
                            </button>
                            <span class="d-none d-md-flex">Util</span>
                        </h3>
                        <div id="collapseOne2" class="container-xxl accordion-collapse collapse" data-bs-parent="#accordion2">
                            <ul class="navbar-nav">
                                <li><a class="nav-link" href="#" aria-describedby="headingOne2">Protejează-te de fraude</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingOne2">Date personale</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingOne2">Semnătura Mobilă</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingOne2">Cod de etică</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingOne2">Cariera</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingOne2">Magazine</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingOne2">Condiţii contractuale</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingOne2">Modele de cereri</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingOne2">Documente necesare</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingOne2">ISO</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingOne2">Notifică o infracţiune</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column col-md-3">
                        <h3 class="accordion-header footer-heading" id="headingTwo2">
                            <button class="accordion-button collapsed container-xxl px-1 d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2">
                                Category
                            </button>
                            <span class="d-none d-md-flex">Category</span>
                        </h3>
                        <div id="collapseTwo2" class="container-xxl accordion-collapse collapse" data-bs-parent="#accordion2">
                            <ul class="navbar-nav">
                                <li><a class="nav-link" href="#" aria-describedby="headingTwo2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingTwo2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingTwo2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingTwo2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingTwo2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingTwo2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingTwo2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingTwo2">Subcategory</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column col-md-3">
                        <h3 class="accordion-header footer-heading" id="headingThree2">
                            <button class="accordion-button collapsed container-xxl px-1 d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="true" aria-controls="collapseThree2">
                                Category
                            </button>
                            <span class="d-none d-md-flex">Category</span>
                        </h3>
                        <div id="collapseThree2" class="container-xxl accordion-collapse collapse" data-bs-parent="#accordion2">
                            <ul class="navbar-nav">
                                <li><a class="nav-link" href="#" aria-describedby="headingThree2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingThree2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingThree2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingThree2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingThree2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingThree2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingThree2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingThree2">Subcategory</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-column col-md-3">
                        <h3 class="accordion-header footer-heading" id="headingFour2">
                            <button class="accordion-button collapsed container-xxl px-1 d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour2" aria-expanded="true" aria-controls="collapseFour2">
                                Category
                            </button>
                            <span class="d-none d-md-flex">Category</span>
                        </h3>
                        <div id="collapseFour2" class="container-xxl accordion-collapse collapse" data-bs-parent="#accordion2">
                            <ul class="navbar-nav">
                                <li><a class="nav-link" href="#" aria-describedby="headingFour2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingFour2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingFour2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingFour2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingFour2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingFour2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingFour2">Subcategory</a></li>
                                <li><a class="nav-link" href="#" aria-describedby="headingFour2">Subcategory</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <h2 class="visually-hidden">Sitemap & information</h2>
        <div class="container-xxl footer-service">
            <ul class="navbar-nav gap-3 gap-md-4">
                <li><a class="nav-link gap-1" href="#"><svg width="1.875rem" height="1.875rem" focusable="false" aria-hidden="true"><use xlink:href="/docs/5.3/assets/img/boosted-sprite.svg#location-pin-compass" /></svg><span>Store locator</span></a></li>
                <li><a class="nav-link gap-1" href="#"><svg width="1.875rem" height="1.875rem" focusable="false" aria-hidden="true"><use xlink:href="/docs/5.3/assets/img/boosted-sprite.svg#mobile-network-coverage" /></svg><span>Coverage checker</span></a></li>
                <li><a class="nav-link gap-1" href="#"><svg width="1.875rem" height="1.875rem" focusable="false" aria-hidden="true"><use xlink:href="/docs/5.3/assets/img/boosted-sprite.svg#live-chat" /></svg><span>Contact us</span></a></li>
                <li><a class="nav-link gap-1" href="#"><svg width="1.875rem" height="1.875rem" focusable="false" aria-hidden="true"><use xlink:href="/docs/5.3/assets/img/boosted-sprite.svg#child-protection" /></svg><span>Child protection</span></a></li>
            </ul>
        </div>

    </footer>



</div>
