

<nav class="navbar navbar-expand-lg supra" data-bs-theme="dark" aria-label="Supra navigation - With an additional languages navbar example">
    <div class="container-xxl">
        <ul class="navbar-nav me-auto">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Personal</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Business</a></li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Accesibilitate
                    <svg class="img-thumbnail" width="20" height="14.3" role="img" preserveAspectRatio="xMidYMid slice" focusable="false" style="border: none;">
                        <image xlink:href="~/Font/Icons/Layout/download.png" width="100%" height="100%" />
                    </svg>

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Portare
                    <svg class="img-thumbnail" width="20" height="14.3" role="img" preserveAspectRatio="xMidYMid slice" focusable="false" style="border: none;">
                        <image xlink:href="~/Font/Icons/Layout/portin.png" width="100%" height="100%" />
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Reîncarcă contul
                    <svg class="img-thumbnail" width="20" height="18" role="img" preserveAspectRatio="xMidYMid slice" focusable="false" style="border: none;">
                        <image xlink:href="~/Font/Icons/Layout/my-payment-white.png" width="100%" height="100%" />
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Contacte
                    <svg class="img-thumbnail" width="20" height="14.3" role="img" preserveAspectRatio="xMidYMid slice" focusable="false" style="border: none;">
                        <image xlink:href="~/Font/Icons/Layout/contact-icon.svg" width="100%" height="100%" />
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Magazine
                    <svg class="img-thumbnail" width="18" height="20" role="img" preserveAspectRatio="xMidYMid slice" focusable="false" style="border: none;">
                        <image xlink:href="~/Font/Icons/Layout/search-orange.svg" width="100%" height="100%" />
                    </svg>
                </a>
            </li>
            <li>
                <div class="dropdown">
                    <button class="btn btn-dropdown dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border: none;">
                        RO
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" href="#">RU</a></li>
                        <li><a class="dropdown-item" href="#">EN</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>

